.topSection {
    margin: 0px;
    background-color: #5c5757; 
    /* Needed to match background color to section below because of mystery line */
}

.block {   /* Added decorative block between navbar and page title */
    padding: 22px;
    background-color: #5f5f5f;
}

.imgPortrait {
    max-width: 100%; /* added to make image grow and shrink */
    height: auto;
}

.pageNameContainer { /* contains only the word "Home" at the top of page */
    display: flex;
    justify-content: center;
    background-color: #868686;
}

.pageName { /* the word "home" contained in .pageNameContainer */
    color: #efecec;
    margin-top: 12px;
    margin-bottom: 6px;
    text-transform: uppercase;
    font-size: .9em;
}

.bio1 { /* contains "John Legend" name under main portrait image and the information about where he was born */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #efecec;
    background-color: #5c5757;
    padding: 10px;
    text-transform: uppercase;
    padding: 10px;
}

.name { /* "John Legend" below main portrait image */
    font-size: 18px;
    font-weight: 100;
    padding: 0px 30px 0px 0px;
}

.bio1__info { /* Contains "Born:" plus information after */
    font-size: 13px;
    font-weight: 100;
    margin: 0px;
    padding: 0px 0px 0px 30px;
}

.bio1__info__born {
    margin: 2px 0px 0px 0px;
}

.bio1__info__more {
    margin: 5px 0px 5px 0px;
    font-size: 10px;
}

.bio2 { /* Contains the word "Collaborators" along with images, links, and names */
    background-color: #efecec;
    color: #5c5757;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bio2__title {
    padding: 0px 20px 50px 20px;
}

.collaboratorList { /* ul which contains images, links, and names of Collaborators */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    font-size: .5em;
    margin: 0px 0px 5px 0px;
}

.collaboratorList--a {
    text-decoration: none;
}

.EsperanzaImg {
    height: auto;
    width: 100px;
}

.StevieImg {
    height: auto;
    width: 100px;
}

.ArianaImg {
    height: auto;
    width: 100px;
}

.TheRootsImg {
    height: auto;
    width: 100px;
}

.RaphaelImg {
    height: auto;
    width: 100px;
}

.ChanceImg {
    height: auto;
    width: 100px;
}

.KanyeImg {
    height: auto;
    width: 100px;
}

.SaraImg {
    height: auto;
    width: 100px;
}

.MeghanImg {
    height: auto;
    width: 100px;
}
